.orderGroup {
  margin-bottom: 16px;
}

.orderGroupDate {
  font-size:   0.65rem;
  font-weight: 600;
  color:       var(--text3);
  padding:     10px 16px 8px;
}

.orderGroupDivider {
  height:      1px;
  background:  var(--border);
  width:       calc(100% + 32px);
  margin-left: -16px;
}





