.listMeta { 
    display: flex; 
    align-items: center; 
    gap: 4px; 
    margin-bottom: 2px; 
}

.listMetaText {
  font-size: 0.75rem; 
  font-weight: 400; 
  color: var(--text2);
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}